# IntelliJ IDEA
.idea/
*.iml

# Build directories
/bin/
/build/

# Eclipse IDE
.project
.classpath
.settings/

# Java specific metadata
/src/main/java/META-INF/*.MF
/src/main/java/META-INF/

# Project-specific files
/TODO-LIST.MD

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Gradle Wrapper
.gradle-wrapper/
